<a href="https://colab.research.google.com/github/PrachiJadhav12/Credit_Card_default_Prediction/blob/main/Credit_card_default_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from seaborn.rcmod import set_style
# Importing libraries

import pandas as pd
import numpy as np
from numpy import math
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme(style= 'whitegrid', palette = 'mako')

import datetime as dt
from datetime import datetime

In [ ]:
# Importing Models libraries

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from xgboost.sklearn import XGBRegressor

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#mount the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_original = pd.read_csv('/content/drive/MyDrive/Data Set/default of credit card clients.csv', encoding= 'unicode_escape')

In [ ]:
df = df_original.copy()

In [ ]:
df.shape

(30001, 25)

In [ ]:
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [ ]:
df['X5'].skew()

TypeError: ignored

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB

In [ ]:
df.describe().transpose()

            count unique    top   freq
Unnamed: 0  30001  30001     ID      1
X1          30001     82  50000   3365
X2          30001      3      2  18112
X3          30001      8      2  14030
X4          30001      5      2  15964
X5          30001     57     29   1605
X6          30001     12      0  14737
X7          30001     12      0  15730
X8          30001     12      0  15764
X9          30001     12      0  16455
X10         30001     11      0  16947
X11         30001     11      0  16286
X12         30001  22724      0   2008
X13         30001  22347      0   2506
X14         30001  22027      0   2870
X15         30001  21549      0   3195
X16         30001  21011      0   3506
X17         30001  20605      0   4020
X18         30001   7944      0   5249
X19         30001   7900      0   5396
X20         30001   7519      0   5968
X21         30001   6938      0   6408
X22         30001   6898      0   6703
X23         30001   6940      0   7173
Y           30001      3      0  23364

In [ ]:
df_original.sample(5)

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
16420,16420,270000,2,1,1,45,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
12710,12710,300000,1,2,2,33,0,0,0,0,...,201842,201309,200695,12000,11504,8500,8000,8000,11000,0
6260,6260,80000,1,2,2,32,1,2,0,0,...,21400,0,0,7,1200,1408,0,0,0,0
25357,25357,140000,2,2,2,23,0,0,0,0,...,15583,7218,7365,4000,5000,2000,0,147,1000,0
3197,3197,50000,1,1,2,31,-2,-2,-2,-2,...,339,1655,679,12002,3508,339,1655,679,1600,0

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.corr()

Empty DataFrame
Columns: []
Index: []